@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

html {
  background-color: darkslategray;
}
h1{
	font-family: 'Rock Salt', cursive;
	font-size: 40px;
	text-align: center;
	top: 25px;
}

canvas{
    background: #000;
    margin:0 auto;
    display: block;
    text-align: center;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: serif;
    text-align: center;
}
div{ width: 500px;
text-align: center;
margin: 0 auto;}
